@model IEnumerable<OdeToFoodWithAuthentication.Models.RestaurantListViewModel>
@using OdeToFoodWithAuthentication.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant reviews</h1>
    <p class="lead">Reviews of all the restaurants I have been too.</p>
</div>

<form asp-controller="Home" method="get" asp-action="Index">

    <label for="SearchString">Title</label>
    <input type="text" name="SearchString" />
 
    <input type="submit" value="Filter" />
</form>

@foreach (RestaurantListViewModel item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Reviews @item.CountOfReviews</div>
        <hr />
    </div>
}
