
@model IPagedList<RestaurantListViewModel>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant reviews</h1>
    <p class="lead">Reviews of all the restaurants I have been too.</p>
</div>

<form  method="get" action="@Url.Action("Index")" 
      data-otf-ajax="true" data-otf-target="#restaurantList">

    <label for="Titles">Title</label>
    <input type="text" id="Title" name="SearchString" data-otf-autocomplete="@Url.Action("AutoComplete")" />

    <input type="submit" value="Search by Name" />
</form>
@*
    @using (Ajax.BeginForm(
        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "restaurantList"
        }))
    {
        <label for="searchString">Name:</label>
        <input type="search" name="searchString" />
        <input type="submit" value="Search by Name" />
    }
*@
@Html.Partial("_Restaurants", Model)